@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 80%;
    --foreground: 0 0% 12.1569%;
    --card: 0 0% 73.3333%;
    --card-foreground: 0 0% 12.1569%;
    --popover: 0 0% 69.0196%;
    --popover-foreground: 0 0% 12.1569%;
    --primary: 0 72.2222% 49.4118%;
    --primary-foreground: 0 0% 93.3333%;
    --secondary: 0 52.3179% 29.6078%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 72.1569%;
    --muted-foreground: 0 0% 29.0196%;
    --accent: 0 0% 5.098%;
    --accent-foreground: 0 0% 100%;
    --destructive: 26.1176 100% 50%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 31.3725%;
    --input: 0 0% 31.3725%;
    --ring: 0 73.4597% 41.3725%;
    --chart-1: 0 73.4597% 41.3725%;
    --chart-2: 82 38.961% 30.1961%;
    --chart-3: 207.2727 44% 49.0196%;
    --chart-4: 26.1176 100% 50%;
    --chart-5: 15.7143 17.5% 47.0588%;
    --sidebar: 0 0% 69.0196%;
    --sidebar-foreground: 0 0% 12.1569%;
    --sidebar-primary: 0 73.4597% 41.3725%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 207.2727 44% 49.0196%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 31.3725%;
    --sidebar-ring: 0 73.4597% 41.3725%;
    --font-sans: Oxanium, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times,
      serif;
    --font-mono: "Source Code Pro", monospace;
    --radius: 0px;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.2);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.2);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
      0px 1px 2px -1px hsl(0 0% 0% / 0.4);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
      0px 1px 2px -1px hsl(0 0% 0% / 0.4);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
      0px 2px 4px -1px hsl(0 0% 0% / 0.4);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
      0px 4px 6px -1px hsl(0 0% 0% / 0.4);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
      0px 8px 10px -1px hsl(0 0% 0% / 0.4);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 1);
  }

  .dark {
    --background: 0 0% 10.1961%;
    --foreground: 0 0% 87.8431%;
    --card: 0 0% 16.4706%;
    --card-foreground: 0 0% 87.8431%;
    --popover: 0 0% 16.4706%;
    --popover-foreground: 0 0% 87.8431%;
    --primary: 211.6071 83.5821% 73.7255%;
    --primary-foreground: 0 0% 100%;
    --secondary: 300 34.4828% 88.6275%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 14.5098%;
    --muted-foreground: 0 0% 62.7451%;
    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 0%;
    --destructive: 38.8571 60% 34.3137%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 29.0196%;
    --input: 0 0% 29.0196%;
    --ring: 1.3636 77.193% 55.2941%;
    --chart-1: 1.3636 77.193% 55.2941%;
    --chart-2: 92.0388 47.907% 42.1569%;
    --chart-3: 206.7123 89.0244% 67.8431%;
    --chart-4: 37.6471 100% 50%;
    --chart-5: 15.8824 15.3153% 56.4706%;
    --sidebar: 0 0% 7.8431%;
    --sidebar-foreground: 0 0% 87.8431%;
    --sidebar-primary: 1.3636 77.193% 55.2941%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 206.7123 89.0244% 67.8431%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 29.0196%;
    --sidebar-ring: 1.3636 77.193% 55.2941%;
    --font-sans: Oxanium, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times,
      serif;
    --font-mono: "Source Code Pro", monospace;
    --radius: 0px;
    --shadow-2xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.3);
    --shadow-xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.3);
    --shadow-sm: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
      0px 1px 2px -1px hsl(0 0% 0% / 0.6);
    --shadow: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
      0px 1px 2px -1px hsl(0 0% 0% / 0.6);
    --shadow-md: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
      0px 2px 4px -1px hsl(0 0% 0% / 0.6);
    --shadow-lg: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
      0px 4px 6px -1px hsl(0 0% 0% / 0.6);
    --shadow-xl: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
      0px 8px 10px -1px hsl(0 0% 0% / 0.6);
    --shadow-2xl: 0px 2px 5px 0px hsl(0 0% 0% / 1.5);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}